.label {
	-fx-background-color: black;
    	-fx-text-fill: white;
	-fx-label-padding: 5px;
	-fx-background-radius: 10px;
	-fx-font-family: "Arial Black";
}

.table-view .column-header {
    	-fx-background-color: black;
}

.button{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-font-family: "Arial Black";
	-fx-padding: 6 12;
	-fx-font-size: 12px;
}

.text-field {
	-fx-border-color: #9A830D;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-border-width: 3px;
}

.iconsmall {
    -fx-fit-width: 24px;
    -fx-fit-height: 24px;
}